@import './mixin';
@import './iconfont';

page,
body {
  font-size: 32px;
  height: 100%;
  background-color: $bg-color-base;
  color: $color-dark;
  box-sizing: border-box;
}

@media screen and (min-width: 500px) {
  html,
  body {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
  }
}

.taro-img,
image {
  width: 100%;
}

button {
  outline: none;
}

